body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

.flex-container {
    display: flex;
}

.orange-color {
    color: darkorange;
}

.color-gray {
    color: rgb(79, 79, 79);
}

.light-text {
    font-weight: normal;
    color: rgb(85, 85, 85);
}

.top-left {
    width: 50%;
    padding: 10%;
}

.top-left p {
    line-height: 1.8;
    padding-bottom: 40px;
}

.top-right {
    width: 60%;
}

.top-right img {
    padding-top: 10%;
    width: 80%;
}

.order-button {
    text-decoration: none;
    background-image: repeating-linear-gradient(to right, orange, tomato);
    padding: 15px 30px;
    border-radius: 40px;
    color: white;
}

.sec-banner {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-right {
    width: 50%;
    padding-top: 8%;
}

.sec-right p {
    line-height: 2;
    padding-bottom: 15%;
}

.sec-left img {
    padding-top: 6%;
    padding-left: 30%;
    width: 40%;
}

.contact-button {
    text-decoration: none;
    background-image: repeating-linear-gradient(to right, orange, tomato);
    padding: 20px 30px;
    border-radius: 40px;
    color: white;
}

.recipies {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.box {
    border-radius: 20px;
    padding: 1%;
    margin: 2%;
}

.box p {
    margin-top: -15px;
    color: gray;
    line-height: 1.8;
    font-size: 18px;
}

.box-shadow {
    box-shadow: 2px 2px 10px rgb(200, 200, 200), -2px 0 2px rgb(200, 200, 200);
}

.box img {
    width: 100%;
}

.box-padding {
    margin-left: 70px;
    margin-right: 70px;
}